body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-image: url("./images/poker.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: "Casino Flat", sans-serif;
}

.App {
  height: 100%;
  width: 100%;
}

.hand {
  border: solid 0.2em white;
  padding: 0.6em;
}

button {
  font-size: 2.5rem;
  margin: 1rem;
  color: white;
  padding: 0.5rem;
  cursor: pointer;
  background-color: Transparent;
  border: none;
  font-family: "Casino Flat", sans-serif;
}

.win-headers {
  font-size: 2.5rem;
  margin: 1rem;
  color: white;
  padding: 0.5rem;
  cursor: pointer;
  background-color: Transparent;
  border: none;
}

button:hover {
  font-style: italic;
}
